ElasticSearch/Template_ElasticSearch_Kibana.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>1dff679d-017f-1000-8b92-7f651475cec4</groupId>
    <name>Template_ElasticSearch_Kibana</name>
    <snippet>
        <processGroups>
            <id>9e267427-a503-3bf6-0000-000000000000</id>
            <parentGroupId>19bae4b0-e8ad-3a74-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>114a7631-ccc9-3821-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>b474998c-7c5e-349e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>a947032c-b89a-3828-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2cbb9e15-795f-3cfb-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>193a5ad5-9b9b-3763-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>c3071853-941d-3a44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>473b9e23-8ea5-38ba-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>512cfa18-d4e1-33cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>da658fd0-1b45-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>71426152-c7ab-33a5-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>084ecdd7-514f-37d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>22167985-f3fe-3d83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>73b82e2c-8a7f-3422-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>11d30010-be1f-3ed7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>084ecdd7-514f-37d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7e5e1e30-bf2b-3aa4-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>5b24b65a-fcc9-319e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>0ac16cce-d738-32b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8bf11c00-1d08-3e8d-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>99288f26-b711-312e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>5b24b65a-fcc9-319e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a8bc6753-970f-3088-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>a947032c-b89a-3828-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>512cfa18-d4e1-33cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6b282e2-de26-305d-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>da658fd0-1b45-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>6964d99c-a544-357c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc41801e-53a4-3187-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>6964d99c-a544-357c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>bae5726a-1dde-3110-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e7f8e3dd-84fb-37a8-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>bae5726a-1dde-3110-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>193a5ad5-9b9b-3763-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f2f04ed0-d968-33f3-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>c3071853-941d-3a44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>9e267427-a503-3bf6-0000-000000000000</groupId>
                        <id>99288f26-b711-312e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>1e37251d-3d9e-3da2-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>479.0</x>
                        <y>91.92370901816014</y>
                    </position>
                    <height>80.57572937011719</height>
                    <label>The process group below (PutES) gets 
random user data from a public API, then 
inserts each user document into 
Elasticsearch</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>287.08795166015625</width>
                </labels>
                <labels>
                    <id>54e2787d-be7f-30fc-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1366.6637236219228</x>
                        <y>290.25825061510477</y>
                    </position>
                    <height>97.79426574707031</height>
                    <label>This flow uses InvokeHttp to call the Elasticsearch
Search API to retrieve all document IDs for users 
who are female. FetchElasticsearch is then used to
retrieve those documents and write them to disk.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>361.69561767578125</width>
                </labels>
                <labels>
                    <id>b739286b-90fc-36f6-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>407.0</x>
                        <y>550.2037090181602</y>
                    </position>
                    <height>140.57574462890625</height>
                    <label>The flow below gets documents from Elasticsearch.
Specify the ID to retrieve. This can be done dynamically 
by sending FlowFiles, each with an attribute
containing the ID, then using Expression Language
in the FetchElasticsearch processor to refer
to the attribute. This example uses the mod() operator
to get IDs from 0 to 9.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>382.08795166015625</width>
                </labels>
                <processGroups>
                    <id>dd58c211-e7d9-3c59-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>417.6319243055165</x>
                        <y>222.67519031237043</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0eddbb74-e24c-3c93-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>bbbdcca3-4e0d-3cb7-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>f4b60fbe-1d88-38f1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>17c900a4-19c4-37fe-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>65fbd6d0-325b-3aed-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>bbbdcca3-4e0d-3cb7-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3a80522c-0530-3a5f-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>f4b60fbe-1d88-38f1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>e2964c98-584c-3ab1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>42e78b86-8b46-3b1f-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>0</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>23eec489-6402-3b15-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>5a91b47f-e83c-3917-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4cd8cbf4-e7c5-3ce0-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>2bcaa0fd-ec01-33a4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>aa7735cb-4d00-3eb1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>801e3654-dcdf-3b9c-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>c0143ce1-7027-3a39-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>65fbd6d0-325b-3aed-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8b5d2ab3-efc4-3e38-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>f4b60fbe-1d88-38f1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>c60fa39b-08c4-3234-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>af0b70cd-1d80-34b4-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>aa7735cb-4d00-3eb1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>23eec489-6402-3b15-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fd655336-b1b1-30fe-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>0</backPressureObjectThreshold>
                            <destination>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>5a91b47f-e83c-3917-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>dd58c211-e7d9-3c59-0000-000000000000</groupId>
<id>f1c1b61e-039e-3076-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>12493457-ca41-31e9-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-array</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>e96466f3-e606-3b5f-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>false</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <labels>
                            <id>6cc81fa1-db2f-3d9d-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>811.3680299181162</x>
<y>195.75227442783563</y>
                            </position>
                            <height>117.82491302490234</height>
                            <label>This flow gets random user data 
from a public API, then inserts 
each user document into 
Elasticsearch</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>236.7937774658203</width>
                        </labels>
                        <processors>
                            <id>23eec489-6402-3b15-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>279.0</x>
<y>434.16</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>docid</key>
        <value>
            <name>docid</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>docid</key>
        <value>${nextInt()}</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${uuid}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>2bcaa0fd-ec01-33a4-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>812.104248046875</x>
<y>659.0956927490234</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>data/debug/out</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>For debugging</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>59bccb9a-d3b1-3106-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>896.0</x>
<y>408.0</y>
                            </position>
                            <bundle>
<artifact>nifi-elasticsearch-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cluster Name</key>
        <value>
            <name>Cluster Name</name>
        </value>
    </entry>
    <entry>
        <key>ElasticSearch Hosts</key>
        <value>
            <name>ElasticSearch Hosts</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Shield Plugin Filename</key>
        <value>
            <name>Shield Plugin Filename</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>ElasticSearch Ping Timeout</key>
        <value>
            <name>ElasticSearch Ping Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Sampler Interval</key>
        <value>
            <name>Sampler Interval</name>
        </value>
    </entry>
    <entry>
        <key>Identifier Attribute</key>
        <value>
            <name>Identifier Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Index</key>
        <value>
            <name>Index</name>
        </value>
    </entry>
    <entry>
        <key>Type</key>
        <value>
            <name>Type</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Index Operation</key>
        <value>
            <name>Index Operation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cluster Name</key>
        <value>docker-cluster</value>
    </entry>
    <entry>
        <key>ElasticSearch Hosts</key>
        <value>elasticsearch:9300</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Shield Plugin Filename</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>ElasticSearch Ping Timeout</key>
        <value>5s</value>
    </entry>
    <entry>
        <key>Sampler Interval</key>
        <value>5s</value>
    </entry>
    <entry>
        <key>Identifier Attribute</key>
        <value>docid</value>
    </entry>
    <entry>
        <key>Index</key>
        <value>randomuser.me</value>
    </entry>
    <entry>
        <key>Type</key>
        <value>user</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Index Operation</key>
        <value>index</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutElasticsearch</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearch</type>
                        </processors>
                        <processors>
                            <id>5a91b47f-e83c-3917-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>271.5</x>
<y>211.72</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.results[*].user</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>65fbd6d0-325b-3aed-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-176.0</x>
<y>440.0</y>
                            </position>
                            <bundle>
<artifact>nifi-elasticsearch-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>
            <name>elasticsearch-http-url</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>
            <name>elasticsearch-http-connect-timeout</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>
            <name>elasticsearch-http-response-timeout</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
        <value>
            <name>elasticsearch-http-proxy-host</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
        <value>
            <name>elasticsearch-http-proxy-port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-username</key>
        <value>
            <name>proxy-username</name>
        </value>
    </entry>
    <entry>
        <key>proxy-password</key>
        <value>
            <name>proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
        <value>
            <name>put-es-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>
            <name>put-es-index</name>
        </value>
    </entry>
    <entry>
        <key>put-es-type</key>
        <value>
            <name>put-es-type</name>
        </value>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>
            <name>put-es-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>
            <name>put-es-index-op</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>http://elasticsearch:9200</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
    </entry>
    <entry>
        <key>proxy-username</key>
    </entry>
    <entry>
        <key>proxy-password</key>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>test</value>
    </entry>
    <entry>
        <key>put-es-type</key>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>index</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutElasticsearchHttp</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                        </processors>
                        <processors>
                            <id>aa7735cb-4d00-3eb1-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>272.0</x>
<y>664.0</y>
                            </position>
                            <bundle>
<artifact>nifi-elasticsearch-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>
            <name>elasticsearch-http-url</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>
            <name>elasticsearch-http-connect-timeout</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>
            <name>elasticsearch-http-response-timeout</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
        <value>
            <name>elasticsearch-http-proxy-host</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
        <value>
            <name>elasticsearch-http-proxy-port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-username</key>
        <value>
            <name>proxy-username</name>
        </value>
    </entry>
    <entry>
        <key>proxy-password</key>
        <value>
            <name>proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
        <value>
            <name>put-es-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>
            <name>put-es-index</name>
        </value>
    </entry>
    <entry>
        <key>put-es-type</key>
        <value>
            <name>put-es-type</name>
        </value>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>
            <name>put-es-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>
            <name>put-es-index-op</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>http://elasticsearch:9200</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
    </entry>
    <entry>
        <key>proxy-username</key>
    </entry>
    <entry>
        <key>proxy-password</key>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>test</value>
    </entry>
    <entry>
        <key>put-es-type</key>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>index</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutElasticsearchHttp</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                        </processors>
                        <processors>
                            <id>bbbdcca3-4e0d-3cb7-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-648.0</x>
<y>440.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>docid</key>
        <value>
            <name>docid</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>docid</key>
        <value>${nextInt()}</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${uuid}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>c0143ce1-7027-3a39-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-184.0</x>
<y>648.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>data/debug/out</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>For debugging</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>c60fa39b-08c4-3234-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-176.0</x>
<y>-16.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>https://www.data.gouv.fr/fr/datasets/r/7c0f7980-1804-4382-a2a8-1b4af2e10d32</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>2 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fetch User Data</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>e2964c98-584c-3ab1-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-576.0</x>
<y>0.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>10 KB</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>C1,C2,C3</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>f1c1b61e-039e-3076-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>270.0</x>
<y>2.68</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://api.randomuser.me/0.6/?format=json&amp;nat=us&amp;results=100</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>2 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fetch User Data</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>f4b60fbe-1d88-38f1-0000-000000000000</id>
                            <parentGroupId>dd58c211-e7d9-3c59-0000-000000000000</parentGroupId>
                            <position>
<x>-544.0</x>
<y>224.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>e96466f3-e606-3b5f-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>12493457-ca41-31e9-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>PutES</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>084ecdd7-514f-37d5-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>462.6319243055165</x>
                        <y>948.9551903123705</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cluster Name</key>
<value>
    <name>Cluster Name</name>
</value>
                            </entry>
                            <entry>
<key>ElasticSearch Hosts</key>
<value>
    <name>ElasticSearch Hosts</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Shield Plugin Filename</key>
<value>
    <name>Shield Plugin Filename</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>ElasticSearch Ping Timeout</key>
<value>
    <name>ElasticSearch Ping Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Sampler Interval</key>
<value>
    <name>Sampler Interval</name>
</value>
                            </entry>
                            <entry>
<key>Document Identifier</key>
<value>
    <name>Document Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Index</key>
<value>
    <name>Index</name>
</value>
                            </entry>
                            <entry>
<key>Type</key>
<value>
    <name>Type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Document Identifier Attribute</key>
<value>
    <name>Document Identifier Attribute</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cluster Name</key>
<value>docker-cluster</value>
                            </entry>
                            <entry>
<key>ElasticSearch Hosts</key>
<value>localhost:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Shield Plugin Filename</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>ElasticSearch Ping Timeout</key>
<value>5s</value>
                            </entry>
                            <entry>
<key>Sampler Interval</key>
<value>5s</value>
                            </entry>
                            <entry>
<key>Document Identifier</key>
                            </entry>
                            <entry>
<key>Index</key>
<value>randomuser.me</value>
                            </entry>
                            <entry>
<key>Type</key>
<value>user</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Document Identifier Attribute</key>
<value>${nextInt():mod(10)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>2 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchElasticsearch</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.FetchElasticsearch</type>
                </processors>
                <processors>
                    <id>0ac16cce-d738-32b0-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1373.3703818046254</x>
                        <y>56.856662944403475</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>11d30010-be1f-3ed7-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>461.1319243055165</x>
                        <y>1174.0751903123705</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>data/fetch/out</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>193a5ad5-9b9b-3763-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>2003.8934227923341</x>
                        <y>753.1098411217822</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>es-doc-id</key>
<value>
    <name>es-doc-id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>es-doc-id</key>
<value>(.*)</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>22167985-f3fe-3d83-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>467.1319243055165</x>
                        <y>745.2751903123705</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>512cfa18-d4e1-33cc-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1380.2336706359124</x>
                        <y>979.0997551698667</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s:^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${userdoc.name:append('\n')}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>5b24b65a-fcc9-319e-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1993.0736634925256</x>
                        <y>49.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s:^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{
  "query":{
    "bool":{
        "must": [
            {"match":{"gender":"female"}}
        ]}
    }
}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>6964d99c-a544-357c-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>2011.888375245669</x>
                        <y>1189.2755828285633</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>firstname</key>
<value>
    <name>firstname</name>
</value>
                            </entry>
                            <entry>
<key>lastname</key>
<value>
    <name>lastname</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>warn</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>firstname</key>
<value>$.name.first</value>
                            </entry>
                            <entry>
<key>lastname</key>
<value>$.name.last</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>99288f26-b711-312e-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1996.2952238660632</x>
                        <y>296.7198526925889</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <name>set-form-filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://192.168.99.100:32769/randomuser.me/user/_search</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>a947032c-b89a-3828-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1376.3203802001035</x>
                        <y>753.421206357536</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <dependencies>
        <dependentValues>Avro</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <dependencies>
        <dependentValues>ZIP</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <dependencies>
        <dependentValues>ZIP</dependentValues>
        <dependentValues>TAR</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <dependencies>
        <dependentValues>TAR</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>b474998c-7c5e-349e-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1377.241956598292</x>
                        <y>521.713569236757</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>data/users/out/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>bae5726a-1dde-3110-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>2002.7618681531726</x>
                        <y>985.1207957811205</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cluster Name</key>
<value>
    <name>Cluster Name</name>
</value>
                            </entry>
                            <entry>
<key>ElasticSearch Hosts</key>
<value>
    <name>ElasticSearch Hosts</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Shield Plugin Filename</key>
<value>
    <name>Shield Plugin Filename</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>ElasticSearch Ping Timeout</key>
<value>
    <name>ElasticSearch Ping Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Sampler Interval</key>
<value>
    <name>Sampler Interval</name>
</value>
                            </entry>
                            <entry>
<key>Document Identifier</key>
<value>
    <name>Document Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Index</key>
<value>
    <name>Index</name>
</value>
                            </entry>
                            <entry>
<key>Type</key>
<value>
    <name>Type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Document Identifier Attribute</key>
<value>
    <name>Document Identifier Attribute</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cluster Name</key>
<value>elasticsearch</value>
                            </entry>
                            <entry>
<key>ElasticSearch Hosts</key>
<value>192.168.99.100:32768</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Shield Plugin Filename</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>ElasticSearch Ping Timeout</key>
<value>5s</value>
                            </entry>
                            <entry>
<key>Sampler Interval</key>
<value>5s</value>
                            </entry>
                            <entry>
<key>Document Identifier</key>
                            </entry>
                            <entry>
<key>Index</key>
<value>randomuser.me</value>
                            </entry>
                            <entry>
<key>Type</key>
<value>user</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Document Identifier Attribute</key>
<value>${es-doc-id}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchElasticsearch</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.FetchElasticsearch</type>
                </processors>
                <processors>
                    <id>c3071853-941d-3a44-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>2002.5868401809532</x>
                        <y>519.7945386595225</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.hits.hits[*]._id</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>da658fd0-1b45-3227-0000-000000000000</id>
                    <parentGroupId>9e267427-a503-3bf6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1379.2976860951364</x>
                        <y>1187.7426352477241</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>userdoc.name</key>
<value>
    <name>userdoc.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>userdoc.name</key>
<value>${firstname:append(' '):append(${lastname})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>PG-ES</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/22/2022 10:16:22 UTC</timestamp>
</template>
